*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'DM Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    background-color: #121212;
}


.container{
    background: rgb(2,0,36);
    background: linear-gradient(95deg, rgba(2,0,36,1) 0%, rgba(144,39,156,1) 35%, rgba(0,212,255,1) 100%);
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas: "aside1 header"
                        "aside1 header"
                        "aside1 main_recomended"
                        "aside1 main_recomended"
                        "aside1 main_recomended"
                        "aside1 main_recomended"
                        "aside1 main_recomended"
                        "aside1 main_recomended"
                        "aside1 main_explore"
                        "aside1 main_explore"
                        "aside1 main_explore"
                        "aside1 main_explore"
                        "aside1 main_explore"
                        "aside1 main_explore"
                        "aside1 main_explore"
                        "aside1 main_explore"
                        "aside1 main_explore"
                        "aside1 main_explore"
                        "footer footer"
                        "footer footer"
                        ;
}





.container .container-aside1{
    background-color: black;
    grid-area: aside1;
    min-width: 60px;
    max-width: 245px;
    margin-right: 6px;
}

.container .container-footer{
    background-color: blue;
    grid-area: footer;
}


.container-main_recomended{
    grid-area: main_recomended;
    display: grid;
    gap: 8px;
    margin-bottom: 88px;


}

.container-main_recomended .item{
    background-color: #2A2A2A;
    width: 95%;
    height: 68px;
    border-radius: 5px;
    justify-self: center;

}




    


.container-main_explore{
    display: grid;
    grid-area: main_explore;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(7, 1fr);
    grid-auto-columns: 145px;
    row-gap: 100px;
    justify-items: auto;
    margin: 10px auto;
    
    
    

    

    
} 






.volver{
    position: absolute;
    width: 115px;
    height: 50px;
    color: white;
    font-size: 1.7rem;
    font-weight: 950;
    align-self: flex-end;
    top: -58px;
    
    
    
     
    
    
}

.vertodo{
    position: absolute;
    width: 88px;
    height: 50px;
    color: #2A2A2A; 
    
    font-size: 1.6rem;
    font-weight: 900;
    text-align: end;
    align-self: flex-end;
    top: -38px;
    

     
    
}  



.cards{
    
    background-color:#2A2A2A ;
    width: 85px;
    height: 180px;
    position: relative;
    
    
    
    
    


}




