

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'DM Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    background-color: #121212;
}


.container{
    background: rgb(2,0,36);
    background: linear-gradient(95deg, rgba(2,0,36,1) 0%, rgba(144,39,156,1) 35%, rgba(0,212,255,1) 100%);
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas: "aside1 header"
                        "aside1 header"
                        "aside1 main_recomended"
                        "aside1 main_recomended"
                        "aside1 main_recomended"
                        "aside1 main_recomended"
                        "aside1 main_recomended"
                        "aside1 main_recomended"
                        "aside1 main_explore"
                        "aside1 main_explore"
                        "aside1 main_explore"
                        "aside1 main_explore"
                        "aside1 main_explore"
                        "aside1 main_explore"
                        "aside1 main_explore"
                        "aside1 main_explore"
                        "aside1 main_explore"
                        "aside1 main_explore"
                        "footer footer"
                        "footer footer"
                        ;
}





.container .container-aside1{
	

    background-color: black;
    grid-area: aside1;
    min-width: 60px;
    max-width: 245px;
    margin-right: 6px;
    
}


.aaa{
    
    position: fixed;
    padding: 4px;
}

.iz{
    
    padding: 10px;
    bottom: 80px;
    color: white;

}





.container .container-footer{
    background-color: #181818;
    grid-area: footer;
    height: 50px;
    position: sticky;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-pick{
    width: 120px;
    height: 50px;
    display: flex;
    align-items: center;
    margin-left: 6px;
    
    
}



.container-pick_img img{
    width: 36px;
    height: 36px;

}



.container-text {
    color: #b3b3b3;
    padding: 6px;
    font-size: .82rem;
    
    
}


.container-text :nth-child(1){
    font-weight: 700;
}
.container-text p{
    padding: 2.3px;
}

.heart, .proh{
    width: 20px;
    height: 15px;
    color: #b3b3b3;
}








.container-music{
    
    width: 98px;
    height: 42px;
    margin: 8px 4px;
    margin-left: -2px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    
    
    
    
    
}


.icon{
    margin: 0 2px;
}


.left {
    
    width: 12px;
    height: 12px;
    
    
}
.play{
    width: 30px;
    height: 30px;
    
    
    
    
    
}

.container-volume{
    
    width: 76px;
    height: 40px;
    margin: 0 4px;
    border-radius: 5px;
    position: relative;
    display: flex;
    align-items: center;
	
}

.icon-v{
    margin-right: 5px;
}

#rangeValue{
    position: relative;
    display: block;
    text-align: center;
    font-size: .6em;
    color: white;
}

.range{
    width: 80px;
    height: 4px;
    -webkit-appearance: none;
    background: #b3b3b3;
    outline: none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: inset 0 0 5px rgba(0,0,0,1);
    
}

.range::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 8px;
    height: 20px;
    border-radius: 50%;
    background: white;
    box-shadow: -407px 0 0 400px #1BAE4F;
}











.container-main_recomended{
    grid-area: main_recomended;
    display: grid;
    gap: 8px;
    margin-bottom: 88px;
    margin-right: 7px;
    max-width: 320px;


}

.container-main_recomended .item{
    background-color: #2A2A2A;
    width: 95%;
    height: 68px;
    border-radius: 5px;
    justify-self: center;
    

}




    


.container-main_explore{
    display: grid;
    grid-area: main_explore;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(7, 1fr);
    grid-auto-columns: 145px;
    row-gap: 100px;
    justify-items: auto;
    margin: 10px 5px;

    
    
    

    

    
} 





.volver{
    position: absolute;
    width: 115px;
    height: 50px;
    color: white;
    font-size: 1.7rem;
    font-weight: 950;
    align-self: flex-end;
    top: -58px;
    
    
    
     
    
    
}

.vertodo{
    position: absolute;
    width: 88px;
    height: 50px;
    color: #2A2A2A; 
    
    font-size: 1.6rem;
    font-weight: 900;
    text-align: end;
    align-self: flex-end;
    top: -38px;
    

     
    
}  



.cards{
    
    background-color:#2A2A2A ;
    width: 85px;
    height: 180px;
    position: relative;
    
    
    
    
    


}




li{
    color: white;
}



.slideContainer{
    width: 100%;

    
}

